<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <p class="card-category">LinkedIn</p>
                        <a href="https://www.linkedin.com/in/obada-ibra-b28354247" target="_blank"
                            class="card-title">linkedin/obada-ibra</a>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i> -->
                            <a href="javascript:void(0)"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <p class="card-category">Gmail</p>
                        <a href="opadaibra@gmail.com" class="card-title">opadaibra@gmail.com</a>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-dark card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-github"></i>
                        </div>
                        <p class="card-category">Github</p>
                        <a href="https://github.com/Opadaibra" target="_blank"
                            class="card-title">github.com/Opadaibra</a>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-youtube"></i>
                        </div>
                        <p class="card-category">YouTube</p>
                        <a href="https://www.youtube.com/channel/UCJQE-F31-aw6Qwv_vVZXcrQ" target="_blank"
                            class="card-title">youtube.com</a>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">update</i> Just Updated -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="grid-item">
                <h3>item</h3>
                <a href="www.gmail.com" target="_blank"> www.gmail.com </a>
                <div class="video-container">
                    <video controls>
                        <source src="https://youtu.be/_e9BwALxLrs" type="video/mp4">

                    </video>
                </div>
            </div>
            <div class="grid-item">
                <h3>item</h3>
                <a href="www.gmail.com" target="_blank"> www.gmail.com </a>
                <div class="video-container">
                    <video controls>
                        <source src="https://youtu.be/_e9BwALxLrs" type="video/mp4">

                    </video>
                </div>
            </div>
        </div> -->
        <div class="">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Obada Ibrahim</h3>
                        <p class="card-category">
                            An aspire and knowledgeable software engineer with extensive
                            practice in Technology engineering and computer science looking
                            to obtain a position, That allows for the application of design
                            skills, customer service,
                            And support abilities and critical thinking to produce software
                            that meets all Goals and objectives outlined by the customer.

                        </p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Experiance</h4>
                                <div class="alert alert-info">
                                    <span>lily Startup Company - Angular Developer 2022:2023</span>
                                </div>
                                <div class="alert alert-info">

                                    <span>Freelancer - Flutter Developer 2023</span>
                                </div>
                                <div class="alert alert-info">

                                    <span>Freelancer - Game Developer(pc - android) 2022</span>
                                </div>
                                <div class="alert alert-info">

                                    <span>Freelancer - Game Developer 2023</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Skills</h4>
                                <div class="alert alert-info d-flex ">

                                    <span>Flutter - dart | 3 years  </span>
                                    <a href="" style="color: black;margin-left: 2px;">    Download Resume Here!</a>
                                </div>
                                <div class="alert alert-success d-flex">

                                    <span>Angular - html Css Js Typscript Bootstrap | 1 year  </span>
                                    <a href="" style="color: black;margin-left: 2px;">    Download Resume Here!</a>

                                </div>
                                <div class="alert alert-warning d-flex">

                                    <span>Unity - C# | 4 years </span>
                                    <a href="" style="color: black;margin-left: 2px;">    Download Resume Here!</a>

                                </div>
                                <div class="alert alert-danger">

                                    <span>Mongo Db , postgreSQL , Sql</span>
                                </div>
                                <div class="alert alert-primary">
                                    <span>Microsoft office products - Adobe PhotoShop </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="card-title" style="margin-left: 20px;">Education</h4>
                    <div class="alert alert-primary mx-3">
                        <span> Information Technology Engineering University of Damascus 10/2017 - 8/2023</span>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>